<h1 class="title"><%=	t(:edit_task, scope: 'actions') %></h1>

<div class="row">
  <div class="callout small-12 small-centered">
    <%= render 'form', action: t(:edit, scope: 'actions') %>

    <%= link_to t(:back, scope: 'actions'), project_tasks_path(@project), class: 'button secondary' %>
  </div>
</div>

