<div class="row expanded">
  <div class=" columns">
    <h1><%=	t(:edit_task, scope: 'actions') %></h1>

    <%= render 'form', action: t(:edit, scope: 'actions') %>

    <%= link_to t(:show, scope: 'actions'), project_task_path(@project, @task), class: 'button' %>
    <%= link_to t(:back, scope: 'actions'), project_tasks_path(@project), class: 'button secondary' %>
  </div>
</div>
