<div class="row expanded">
  <div class="small-2 large-4 columns">
    <h1><%=	t(:new_task) %></h1>

    <%= render 'form', action: t(:create) %>

    <%= link_to t(:back), project_tasks_path(@project), class: 'button secondary' %>
  </div>
</div>
