<div class="row expanded">
  <div class="small-2 large-4 columns">
    <h1>Nouvelle tâche</h1>

    <%= render 'form' %>

    <%= link_to 'Retour', project_tasks_path(@project), class: 'button secondary' %>
  </div>
</div>
