<%= simple_form_for(@family) do |f| %>
  <%= f.error_notification %>

      <div class="form-inputs field">
        <%= f.input :label, label: t(:label) %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class:'success button', value: action %>
      </div>
<% end %>
