<div class=" columns">
  <h1 class="title"><%= t(:edit_category, scope: 'actions') %></h1>

  <%= render 'form', action: t(:edit, scope: 'actions') %>

  <%= link_to t(:show, scope: 'actions'), @family, class: 'button' %>
  <%= link_to t(:back, scope: 'actions'), families_path, class: 'secondary button' %>
</div>
