<h1><%=	t(:edit_setting, scope: 'actions') %></h1>

<%= render 'form', action: t(:edit, scope: 'actions') %>

<%= link_to t(:show, scope: 'actions'), @setting %> |
<%= link_to t(:back, scope: 'actions'), settings_path %>
