<div class="row expanded">
  <div class="small-2 large-4 columns">
    <h1><%=	t(:new_setting, scope: 'actions') %></h1>

    <%= render 'form', action: t(:create, scope: 'actions') %>

    <%= link_to t(:back, scope: 'actions'), settings_path, class: 'button secondary' %>
  </div>
</div>
