<div class="row expanded">
  <div class="small-2 large-4 columns">
    <h1><%=	t(:new_setting) %></h1>

    <%= render 'form', action: t(:create) %>

    <%= link_to t(:back), settings_path, class: 'button secondary' %>
  </div>
</div>
