<div class="row expanded">
  <div class="small-2 large-4 columns">
    <h1>Nouveau paramètre</h1>

    <%= render 'form' %>

    <%= link_to 'Retour', settings_path, class: 'button secondary' %>
  </div>
</div>
