<div class="row expanded">
  <div class="small-2 large-4 columns">
    <h1><%= t(:edit_project, scope: 'actions') %></h1>

    <%= render 'form', action: t(:edit, scope: 'actions') %>

    <%= link_to t(:show, scope: 'actions'), @project, class: 'button' %>
    <%= link_to t(:back, scope: 'actions'), projects_path, class: 'secondary button' %>
  </div>
</div>
