<div class="row expanded">
  <div class="small-2 large-4 columns">
    <h1><%= t(:edit_project) %></h1>

    <%= render 'form', action: t(:edit) %>

    <%= link_to t(:show), @project, class: 'button' %>
    <%= link_to t(:back), projects_path, class: 'secondary button' %>
  </div>
</div>
