<div class="row expanded">
  <div class="small-2 large-4 columns">
    <h1>Editing Project</h1>

    <%= render 'form' %>

    <%= link_to 'Voir', @project, class: 'button' %>
    <%= link_to 'Retour', projects_path, class: 'secondary button' %>
  </div>
</div>
