<div class="row expanded">
  <div class=" columns">
    <h1> <%= t(:new_project, scope: 'actions') %></h1>

    <%= render 'form', action: t(:create, scope: 'actions') %>

    <%= link_to t(:back, scope: 'actions'), projects_path, class: 'secondary button' %>
  </div>
</div>
