<h1 class="title"><%=	t(:new_project, scope: 'actions') %></h1>

<div class="row">
  <div class="callout small-12 small-centered">
    <%= render 'form', action: t(:create, scope: 'actions') %>

    <%= link_to t(:back, scope: 'actions'), projects_path, class: 'button secondary' %>
  </div>
</div>
