<div class="row expanded">
  <div class="small-2 large-4 columns">
    <h1> <%= t(:new_project) %></h1>

    <%= render 'form', action: t(:create) %>

    <%= link_to t(:back), projects_path, class: 'secondary button' %>
  </div>
</div>
