<div class=" columns">
  <h1><%=	t(:edit_worker, scope: 'actions') %></h1>

  <%= render 'form', action: t(:edit, scope: 'actions') %>

  <%= link_to t(:show, scope: 'actions'), @worker, class: 'button' %>
  <%= link_to t(:back, scope: 'actions') , workers_path, class: 'button secondary' %>
</div>
