<div class="small-2 large-4 columns">
  <h1><%=	t(:edit_worker) %></h1>

  <%= render 'form', action: t(:edit) %>

  <%= link_to t(:show), @worker, class: 'button' %>
  <%= link_to t(:back) , workers_path, class: 'button secondary' %>
</div>
