// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "settings";
.alert{
  background-color: $alert-color !important;
}

.warning{
  background-color: $warning-color !important;
}
.inline-activities-submit {
  margin-top: 25px !important;
}