/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require style
 *= require_tree .
 *= require_self

 */
@import "foundation-icons";
@import "settings";
@import "foundation_and_overrides";

html.turbolinks-progress-bar::before {
  background-color: $primary-color !important;
  height: 5px !important;
}

#core {
  //margin: 0 30px;
  //margin-top: -15px;

  h1.title {
    background-color: rgba(250,250,250,0.95);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    font-size: 22px;
    color: #0079b9;
    font-weight: bold;
    padding: 20px;
    position: relative;
  }
}

.top-bar-left ul > li:hover {
  background-color: white;
  a {
    color: $primary-color;
  }
}

.top-bar-left ul li a {
  color: $white;
}

.top-bar-right.user ul li {
  color: #26475E;
  line-height: 20px;
  & > a {
    color: #26475E;
    line-height: 20px;
  }
}

.top-bar-right.project {
  margin-right: 30px;
}

.top-bar-right.project-name {
  line-height: 46px;
  color: $warning-color;
  margin-right: 10px;
}

.top-bar-right.menu2 {

  margin-right: 10px;

  & > ul li {
    & > a {
      line-height: 22px;
      color: $white;
    }
  }
}


li.menu-text a {
  color: #26475E !important;
  font-size: 22px;
  padding: 0;
}

table {
  margin-bottom: 0;
}

thead {
  border-bottom: 1px solid #d8d8d8;
  color: #777;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
}

thead th {
  color: #777;
  font-size: 14px;
  height: 40px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-align: center;
}

tbody td {
  text-align: center;
}

tr {
  height: 60px;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
}

tbody tr {
  padding: 10px;
}

.actions {
  height: 60px;
  background-color: #fafafa;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
  padding: 10px;

  .button {
    width: 100%
  }
}

.progress {
  height: 30px;
  margin-bottom: 0;
}

tbody {
  color: #2C2C2C;
  .code {
    width: 100%;
    display: block;
  }
  .code-label {
    width: 100%;
    display: block;
    color: $dark-gray;
  }
}

.lbl-success {
  color: $success-color;
  font-size: 18px;
  font-weight: bold;
}

.lbl-alert {
  color: $alert-color;
  font-size: 18px;
  font-weight: bold;
}


.bar {
  &.bg-primary {
    background-color: transparentize($primary-color, 0.2);

  }
  &.bg-warning {
    background-color: transparentize($warning-color, 0.2);
    margin-top: 12px;
    height: 60px;
  }
  &.bg-alert {
    background-color: transparentize($alert-color, 0.2);
    margin-top: 0;
    height: 12px;
  }
}

.fn-gantt .bar.bg-alert .fn-label {
  line-height: 12px;
}



/*reset for gantt*/
.row .row{
  &.day, &.date {
    margin: -1px 0 0 -1px;
    text-align: center;
  }
}
.fn-gantt .row.header {
  width: 100%;
  max-width: 100%;
}

.toolbar {
  position: absolute;
  top: 16px;
  right: 20px;
}

.filtering-target {
  height: 0;
  visibility: hidden;
  &.visible {
    visibility: visible;
    height: 340px;
    transition: all 0.5s ease;
  }
}

.check-indicator {
  color: $success-color !important;
}

.x-indicator {
  color: $alert-color !important;
}