// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "settings";

.project-container {
  float: left;

}

.columns:last-child:not(:first-child) {
  float: left;
}

$grid-column-gutter: (
        small: 20px,
        medium: 30px,
);

a.newProject{
  &:visited, &:hover {
    color: white;
  }
}

.charts-activities {
  min-width: 310px;
  margin: 0 auto;
}

.counter {
  text-align: center;
  .value {
    color: $primary-color;
    font-size: 32px;
  }
  .name {
    color: $primary-color;
    font-size: 16px;
  }
}