<h1 class="title"><%=	t(:edit_activity, scope: 'actions') %></h1>

<div class="row">
  <div class="callout small-12 small-centered">
  <%= simple_form_for([@project, @activity], url: project_activity_path(@project, @activity)) do |f| %>
      <%= render partial: 'form', locals: {f: f, action: t(:edit, scope: 'actions')} %>
  <% end %>
  <%= link_to t(:back, scope: 'actions'), project_activities_path(@project), class: 'secondary button' %>
  </div>
</div>