<h1><%=	t(:edit_activity, scope: 'actions') %></h1>

<%= render 'form', action: t(:edit, scope: 'actions') %>

<%= link_to t(:show, scope: 'actions'), @activity, class: 'button' %>
<%= link_to t(:back, scope: 'actions'), activities_path, class: 'secondary button' %>
